<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Login page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>

  <body>
   
		    <div class="container">
		        <div class="col-offset-6 centered">
		         <b><a href="register">Register Here</a></b>
				   <h1>Login page</h1>
				   <p th:if="${loginError}" class="error">Wrong user or password</p>
					    <form action="" method="post" class="" id="login" >
					          <div class="form-group">
							      <label for="username">Username</label>:
							      <input type="text" class="form-control" id="username" name="username" autofocus="autofocus" /> <br />
						      </div>
						      <div class="form-group">
								    <label for="password">Password</label>:
								    <input class="form-control" type="password" id="password" name="password" /> <br />
								     <input class="form-control" type="hidden" id="grant_type" name="grant_type" value="password"/>
						     
 						      <input type="submit" class="btn btn-primary form-control" value="Log in" />
						      </div>
						</form>
					   
		   </div>			    
			</div>   

	<script type="text/javascript">
	
    jQuery(document).ready(function(){
            jQuery("#login").submit(function(e){
                    e.preventDefault();
                    var formData = jQuery(this).serialize();
                    $.ajax({
                        type: "POST",
                        url: "oauth/token",
                        data: formData,
                        dataType: "json",
                        beforeSend: function(xhr) {
                      //   $('#add_d_spin').addClass('fa-spinner');
                     //     document.getElementById('add_d').innerHTML = "Loading...";
                     //alert("Before");
                        	  xhr.setRequestHeader ("Authorization", "Basic " + btoa("devglan-client:devglan-secret"));
                        	 // xhr.setRequestHeader('Authorization', make_base_auth("devglan-client", "devglan-secret")); 
                        },
                        complete: function() {
                       //    $('#add_d_spin').removeClass('fa-spinner');
                        //   document.getElementById('add_d').innerHTML = "Add Disease";
                        	//alert("Complete");
                         },
                       success: function(json){

                      //   if(html=='true')
                         // {
                            // swal("Success", "Disease Added Successfully", "success");
                          //  window.location='diagnostic_engine.php';
                               console.log(json);
                            //   alert("Login Success");
                               var token = json.access_token
                               var ref = json.refresh_token
                               
                               window.location = '/process_login/'+token+'/'+ref+'?access_token='+token;
                             //  alert(json.access_token);
                            //document.getElementById("submit_disease").reset();

                         // }else{
                          //     alert("Login Failed");
                          //}

                      }
                    });
                    return false;
                });
            });
	</script>
  </body>
</html>