<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Login page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>

  <body>
            
		    <div class="container">
		        <div class="col-offset-6 centered">
		           <b><a href="/login">Login</a></b>
				   <h1>Register New Account Here</h1>
				  
					    <form action="/register" method="post" class="" id="register" >
					    
					        
						      
						      <div class="form-group">
							      <label for="fullname">fullname</label>:
							      <input type="text" class="form-control" id="fullname" name="fullname" autofocus="autofocus" /> <br />
						      </div>
						      
						      <div class="form-group">
							      <label for="dob">Date Of Birth</label>:
							      <input type="text" class="form-control" id="dob" name="dob" autofocus="autofocus" /> <br />
						      </div>
						      
						      
					          <div class="form-group">
							      <label for="account_type">Account_type</label>:
							      <input type="text" class="form-control" id="account_type" name=account_type autofocus="autofocus" /> <br />
						      </div>
						       <div class="form-group">
							      <label for="account_balance">Account_balance</label>:
							      <input type="text" class="form-control" id="account_balance" name=account_balance autofocus="autofocus" /> <br />
						      </div>
						      
						      <div class="form-group">
								    <label for="password">Address</label>:
								    <input class="form-control" type="text" id="address" name="address" /> <br />
								     <input class="form-control" type="hidden" id="grant_type" name="grant_type" value="password"/>
						         </div>
 						      
						  
						      
						       <div class="form-group">
							      <label for="username">Username</label>:
							      <input type="text" class="form-control" id="username" name="username" autofocus="autofocus" /> <br />
						      </div>
						      
						      <div class="form-group">
							      <label for="username">Password</label>:
							      <input type="password" class="form-control" id="password" name="password" autofocus="autofocus" /> <br />
						      </div>
						      
						      <input type="submit" class="btn btn-primary form-control" value="Register" />
						</form>
					   
		   </div>			    
			</div>   


  </body>
</html>